.container {
    width:100%;
    height:130%;
    margin-top: 1.8%;
    margin-left: 4.5%;
}

.totalStudents-box{
    position:fixed;
    background-color: #fff;
    width: 16%;
    height: 22%;
    margin-left: -1%;
    border-style: groove;
    border-radius: 14px!important;
}

.dormRequests-box{
    position:fixed;
    float:left;
    background-color: #fff;
    width: 16%;
    height: 22%;
    border-style: groove;
    margin-left: 29%;
    border-radius: 14px!important;
}

.popularBuildings-box{
    position:fixed;
    float: right;
    background-color: #fff;
    width: 16%;
    height: 22%;
    border-style: groove;
    margin-left: 58%;
    border-radius: 14px!important;
}

.availableDormRooms-box{
    position: fixed;
    background-color: #fff;
    width: 36%;
    height: 46%;
    border-style: groove;
    margin-top: 14%;
    margin-left: -2%;
    border-radius: 14px!important;
}

.buildingsList-div{
    position: fixed;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 160%;
    width: 20%;
    height: 36%;
    text-align: left;
    border-style: groove;
    border-radius: 14px!important;

    /*Scroll bar is added if list exceeds size of the div */
    overflow: auto;
    white-space: nowrap;
}

.viewDorms-div{
    position: fixed;
    margin-left: 23%;
    margin-top: 8%;
    font-size: 160%;
    width: 20%;
    height: 10%;
    text-align: left;
}
.piechart-box{
    position: fixed;
    background-color: #fff;
    width: 36%;
    height: 46%;
    border-style: groove;
    margin-top: 14%;
    margin-left: 40%;
    border-radius: 14px!important;
}
.piechart-div{
    margin-right: 26%;
    margin-Top: 0%;
}

#pie {
    height: 336px;
    width: 130%;
  }

h1{
    font-size: 270%;
}

label{
    font-size: 120%;
}

.link
{
    background-color: rgba(81, 171, 255, 0.993);
    padding: 8px 18px; 
    color: white;
    font-weight: bold;
    border-radius: 10px!important;
}

/* Creates a custom scrollbar for who page*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }