#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.Admin-background {
    background: #fff;
}

.Admin-content-background {
    background: #F0F2F5;
}

.home_leftbox {
    height: 100%;
    text-align: center;
}

.Homepagelogo {
    height: 130px;
    margin: 16px;
}

.Homepagecontent{
    color:white;
    font-size:20px;
}