.roommate-container{
    margin:0 auto;
}
.container-results{


    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    margin-top: 2%;
    height: 500px;
    width: 85%;
}
.table-header{

  font-size: 24px;
  border-style: solid;
  border-bottom-width: 2px;
}

.container-results::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
    border-width: 5px;
  }
  

.container-results::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

.container-results::-webkit-scrollbar-thumb {
    background: #888; 
     border-radius: 5px
  }
  
 
.container-results::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.container-results::-webkit-scrollbar-track {

    border-radius: 5px;

  } 
.results{
    height: 100%;
    width: 100%;
    

}
.search-container{


    display: flex;

}
.container-object{

float:left;

}
.search-bar{

    padding-left: 10px;
    padding-top:1px;
    padding-bottom: 1px;
    width:75%;
    height:3em;
    font-size: 20px;
    font-family: 'Lucida Bright';
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding-right:5%;
}
.search-button{

    float: left;
    width: 10%;
    margin-left:10px;
    height:3em;
    font-size:18px;
    margin-left:10px
}
.wrapper{
    width:100%;
    display:inline-block;
    padding-right: 10px;
}
.add-icon{

    float: right;
    padding-right:10px;
    padding-top:5px;

}
.result-word{

    font-size: 30px;
    padding-left:10px;
    font-family: 'Lucida Bright';
    border-style: solid;
    border-bottom-width:2px;
    border-color:black;
}
.result-icon{
  border-style: solid;
  border-bottom-width:2px;
  border-color:black;
}
ul{


    list-style-type:none;
}
.word-wrapper{
    
    padding-left:10px;
}


#primary-button{

    height: 5.5vh;
    width: 5vw;
    background-color: #011528;
    border-width: 3px;
    border-color:rgb(0, 0, 0);
    border-radius: 10%;
    animation-name:button;
    font-family: frank ruhal ribre;
    font-size: 20px;
    color: white;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
   will-change: transform;
   z-index: 0;
   padding-bottom:1px;
   padding-top:1px;
   margin-left:20px;
   margin-top: 2px;
  }

  #primary-button::after
  {
  background-color:rgb(18, 189, 241);
  border-color: black;
  border-style:solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-width: 1px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
 
  }
  #primary-button:hover::after
  {
    border-color: black;
  border-style:solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
    transform :translate(0, 0);
  }

  #primary-button:hover
  {
    border: 2px solid transparent;
    color: white;
    transform: scale(1.05);
    will-change :transform;
    cursor: pointer;
  }

  
  .icon:hover{

      color:red;
  }