#wrapper{
  width: 100%;
  overflow: hidden;
  float:center; 
}
#searchBar{

    height: 5vh;
    width: 90%;
    margin-left:5px;
    padding-left:5px;
    float: left;
    border-radius:10px;
    border-width: 3px;
    border-style: solid;
    font-size: 3vh;
    font-family: frank ruhal ribre;
    
}
.resultsBox{

    height:80%;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

    overflow-x:hidden;
    overflow-y: auto;
    overflow-inline: 5px;
    
    font-size:30px;
    margin: 5px;
   
  }
  
.resultsBox::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
    border-width: 5px;
  }
  

.resultsBox::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

.resultsBox::-webkit-scrollbar-thumb {
    background: #888; 
     border-radius: 5px
  }
  
 
.resultsBox::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.resultsBox::-webkit-scrollbar-track {

    border-radius: 5px;

  } 
.container-search{

    height:100%;

}
  .search-bar{

    float: left;
    width: 100%;
    border: 1px solid red;
}

  
 .search-button
  {
    
    width: 100%;
    float: left;
    overflow: hidden; 
  
  }


  #primary-button{

    height: 5vh;
    width: 4vw;
    background-color: blue;

    border-width: 3px;
    border-color:rgb(0, 0, 0);
    border-top-right-radius:10%;
    border-bottom-right-radius:10%;
    animation-name:button;

    font-family: frank ruhal ribre;
    font-size: 18px;
    color:white;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
   will-change: transform;
   z-index: 0;

  }

  #primary-button::after
  {
  background-color:rgb(107, 208, 255);
  border-color: black;
  border-style:solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-width: 1px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
  
  }
  #primary-button:hover::after
  {
    border-color: black;
  border-style:solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
    transform :translate(0, 0);
  }

  #primary-button:hover
  {
    border: 2px solid transparent;
    color: indigo;
    transform: scale(1.05);
    will-change :transform;
    cursor: pointer;
  }
  .result-node{

    float: left;
    width:100%;
    

    /*border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    font-size: 10px;*/
  }
  .student-name{
     float: left;
  
    margin-top: 10px;
    margin-left:1%;
    font-size: 24px;
    font-weight: bolder;
    color: black;
    clear:left;
    
  }
  .search-Head{
    float:left;
    

  }